<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
          <a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>
        </div>
      </div>
    </div>
  </header>

  <div class="px-4 py-5 my-5 text-center profile">
    <% if (photo) { %>
      <img class="d-block mx-auto mb-4" style="border: 2px solid white; border-radius: 50%;" 
        src="<%= photo %>" alt="" width="120" height="120">
    <% } else { %>
      <img class="d-block mx-auto mb-4" style="border: 2px solid white; border-radius: 50%;" 
        src="./assets/check-profile.png" alt="" width="120" height="120">
    <% } %>
    <h1 class="display-5 fw-bold text-body-emphasis">Hello, <%= name %>!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">It's good to have you on this platform. Feel free to explore and get
        in contact with us for further enquiries and personalized support.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Contact us</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
      </div>
    </div>
  </div>
</body>
</html>